<div class="card-lg rounded-lg shadow-sm" style="margin-top: 1em;">
    <div class="row no-gutters">
        <div class="col-md-4">
          <img src="<%- image %>" class="card-img img-fluid" alt="kv">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="<%- link %>"><%- title %></a></h5>
            <p class="card-text"><%- intro %></p>
          </div>
        </div>
      </div>    
  </div>
</div>