<div class="card-md-4 rounded-lg shadow-sm" style="margin-top: 2em;">
    <img class="card-img-top img-fluid" src="<%- image %> " alt="kv">
    <div class="card-body">
        <h5 class="card-title"><a href="<%- link %>"><%- title %></a></h5>
        <p class="card-text"><%- intro %> </p>
    </div>
  </div>  