<div class="row" style="margin-top: 4em;">
    <div class="col-sm" style="text-align: center;">
        
        <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>进行许可。
            <br>Made with love by <a href="https://github.com/PuzzleWiki">Puzzle Wiki Team</a></p>
    </div>
</div>
<!-- Core -->
<script src="https://cdn.jsdelivr.net/gh/creativetimofficial/argon-design-system@master/assets/js/core/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/creativetimofficial/argon-design-system@master/assets/js/core/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/creativetimofficial/argon-design-system@master/assets/js/core/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/WickyNilliams/headroom.js@master/src/Headroom.min.js"></script>

<!-- Theme JS -->
<script src="https://cdn.jsdelivr.net/gh/creativetimofficial/argon-design-system@master/assets/js/argon-design-system.min.js"></script>

</body>
</html>